<div class="card-header">
	<span onclick="document.location='?temp=main'">Sklep</span> <span class="text-muted">/ Error 404</span>
</div>
<div class="card-body" style="background:#2d2d2d;">
	<p class="card-text mt-0">
	    <h3>Nie znaleziono strony :(</h3>
	</p>
</div>