<!DOCTYPE html>
<html>
<head>
	<title>Minecraft shop panel</title>
	<%- include('../temp/header'); -%>
	<link rel="stylesheet" href="/css/panel.css">
</head>
<body>
	<div class="container mt-4">
		<a type="button" class="btn btn-dark" href="?temp=main">Panel Sklepu</a>
		<a class="btn btn-dark" href="?temp=servers">Serwery</a>
		<a class="btn btn-dark" href="?temp=services">Usługi</a>
		<a class="btn btn-dark" href="?temp=vouchers">Vouchery</a>
		<a class="btn btn-outline-danger" href="?temp=logout">Wyloguj</a>
		<br><br>
		<%
    access=["main","services","vouchers","service","servers","server"];
    if(query.temp==undefined){ %>
        <script>document.location.href="?temp=main"</script>
    <% }else if (access.includes(query.temp)){ %>
        <%- include(`dep/${query.temp}`, {database,query} ); %>
    <% }else{ %>
        <script>document.location.href="?temp=main"</script>
    <% } %>
	</div>
</body>
</html>
