<div class="card-header">
	<span onclick="document.location='?temp=main'">Sklep</span> <span class="text-muted">/ Płatność PAYSAFECARD</span>
</div>
<div class="card-body" style="background:#2d2d2d;">
	<p class="card-text mt-0">
		<center>
			<h3>Wpisz kod paysafecard:</h3>
		</center>
		<form>
		  <div class="form-row">
		    <div class="col">
		      <div class="md-form mt-0">
		        <input type="text" class="text-light form-control text-center" placeholder="XXXX" maxlength=4>
		      </div>
		    </div>
		    _
		    <div class="col">
		      <div class="md-form mt-0">
		        <input type="text" class="text-light form-control text-center" placeholder="XXXX" maxlength=4>
		      </div>
		    </div>
		    _
		    <div class="col">
		      <div class="md-form mt-0">
		        <input type="text" class="text-light form-control text-center" placeholder="XXXX" maxlength=4>
		      </div>
		    </div>
		    _
		    <div class="col">
		      <div class="md-form mt-0">
		        <input type="text" class="text-light form-control text-center" placeholder="XXXX" maxlength=4>
		      </div>
		    </div>
		  </div>
		</form>
		<center>
			<div class="alert btn-outline-success m-2">
				Kod PAYSAFECARD musi zawierać dokładnie <%=database.services[query.service].payments.PSC.cost%> zł.<br>
				W przeciwnym razie zakup zostanie unieważniony.
			</div>
			<button type="button" class="btn" onclick="payment()" style="background:<%=database.theme%>;color:white;">Przejdź do płatności</button>
		</center>
	</p>
</div>